<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Amazon.com</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div routerLink=""class="logo"></div>
            </div>
            <div class="nav-address border ">
                <p class="add-first">Deliver to</p>
                <div class="add-icon">
                    <i class="fa-solid fa-light fa-location-dot"></i>
                    <p class="add-second">India</p>
                </div>
            </div>
            <div class="nav-search">
                <select class="search-select">
                    <option>All</option>
                </select>
                <input class="search-input" placeholder="Search Amazon">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-address border ">
                <div class="add-icon">
                    <i class="fa-regular fa-flag"></i>
                    <select class="add-second just">
                        <option>EN</option>
                    </select>
                </div>
            </div>
            <div class="div-signin border">
                <p><span><a routerLink="seller-auth">Hello, sign in</a></span></p>
                <p class="nav-second">Acounts & list</p>
            </div>
            <div class="div-return border">
                <p><span>returns</span></p>
                <p class="nav-second">& Orders</p>
            </div>
            <div class="nav-cart border ">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
    
            </div>
        </div>
        <div class="panel">
            <div class="panel-all">
                <i class="fa-solid fa-bars"></i>
                All
            </div>
            <div class="panel-option">
                <p>Today's Deals</p>
                <p>Customer Service</p>
                <p>Registry</p>
                <p>Gift Cards</p>
                <p>Sell</p>
    
            </div>
            <div class="panel-deals">
                Shop deals in Electronics
            </div>
        </div>
    </header>

</body>

</html>






















