<div class="seller-auth">
    <div *ngIf="!showLogin " class="sign-up">
        <h1>Sign-Up</h1>
        <form   class="common-form">
            <input ngModel name="anme" class="form-input"type="text" placeholder="Enter name"/>
            <input ngModel name="password" class="form-input" type="password" placeholder="Enter Password">
            <input ngModel name="email" class="form-input" type="email" placeholder="Enter Email">
            <button routerLink="" class="form-button">SignUp</button>
            <span>Already Have Account click to <a (click)="openLogin()">Login</a></span>

        </form>
    </div>
    <!--login -->
    <div *ngIf="showLogin"  class="sign-up">
        <h1>Login</h1>
        <form class="common-form" >
            
            <input ngModel name="email" class="form-input" type="email" placeholder="Enter Email" required>
            <input ngModel name="password" class="form-input" type="password" placeholder="Enter Password" required>
            <button routerLink="" class="form-button">Login</button>
            <span>Don't Have Account click to <a (click)="openSignup()">signup</a></span>

        </form>
    </div>
</div> 